html {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(50, 62, 75);
}

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  height: 100vh;
}

/* rgba(50, 62, 75);
rgba(50, 180, 146);
rgba(237, 122, 123);
rgba(189, 37, 105);
rgba(250, 126, 34); */
