.filter {
  background-color: rgba(50, 62, 75);
  width: 100vw;
  box-sizing: border-box;
  padding: 2rem;
}

.title {
  display: inline-block;
  color: white;
  padding-left: 2rem;
  font-size: 1.8rem;
  vertical-align: middle;
}

.label {
  margin: auto;
  padding-left: 60%;
  padding-right: 1rem;
  color: white;
  display: inline-block;
  vertical-align: middle;
}

select {
  background-color: rgba(68, 81, 95);
  color: white;
  width: 11rem;
  height: 3rem;
  border: 1px solid white;
  display: inline-block;
  vertical-align: middle;
}
