.filter {
  background-color: rgba(50, 62, 75);
  width: 100%;
  box-sizing: border-box;
  padding: 2rem;
}

.title {
  display: inline-block;
  color: white;
  padding-left: 10rem;
  font-size: 1.8rem;
  vertical-align: middle;
  font-size: 3rem;
  font-weight: bold;
}

.label {
  margin: auto;
  padding-left: 60%;
  padding-right: 1rem;
  color: white;
  display: inline-block;
  vertical-align: middle;
  font-size: 2rem;
}

select {
  background-color: rgba(68, 81, 95);
  color: white;
  width: 15rem;
  height: 3rem;
  border: 1px solid white;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.5rem;
}

@media (max-width: 1000px) {
  .filter {
    text-align: center;
  }

  .title {
    padding: 0;
    display: block;
    font-size: 3rem;
  }

  .label {
    padding: 1rem;
  }
}

@media (max-width: 740px) {
  .filter {
    text-align: center;
  }

  .title {
    padding: 0;
    display: block;
  }

  .label {
    padding: 1rem;
  }
}
