.filter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgba(50, 62, 75);
  grid-gap: 20rem;
  align-items: center;
  width: 100vw;
  box-sizing: border-box;
  padding: 2rem;
}

select {
  grid-column: 4 / 3;
}
