.layout {
  display: grid;
  background-color: rgba(68, 81, 95);
  grid-template-columns: repeat(4, minmax(10rem, 1fr));
  grid-template-rows: repeat(auto-fill, 30rem);
  grid-gap: 10rem;
  justify-content: center;
  justify-items: center;
  box-sizing: border-box;
  padding: 3rem;
  width: 100%;
  padding-top: 11rem;
}

@media (max-width: 1000px) {
  .layout {
    grid-template-columns: repeat(2, 25rem);
    grid-gap: 15rem;
  }
}

@media (max-width: 740px) {
  .layout {
    grid-template-columns: repeat(1, 25rem);
  }
}
