.layout {
  display: grid;
  background-color: rgba(68, 81, 95);
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(auto-fill, auto-fit);
  grid-gap: 2rem;
  justify-items: stretch;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 3rem;
}

@media (max-width: 37.5rem) {
  .layout {
    grid-template-columns: repeat(1, 25rem);
    justify-content: center;
    justify-items: center;
  }
}
