.listing {
  background-color: white;
  border: 0.1rem solid white;
  display: grid;
  grid-template-columns: 15em 15rem;
  justify-items: center;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

img {
  object-fit: scale-down;
  height: 20rem;
}

.status {
  display: inline-block;
  vertical-align: middle;
  padding-right: 1rem;
}

.dot {
  height: 1.5rem;
  width: 1.5rem;

  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.green {
  background-color: rgba(50, 180, 146);
}

.red {
  background-color: rgba(189, 37, 105);
}

.orange {
  background-color: rgba(250, 126, 34);
}

.grey {
  background-color: rgba(68, 81, 95);
}

.row {
  grid-column: 1 / 3;
  padding: 0.7rem;
}

@media (max-width: 37.5rem) {
  .listing {
    font-size: 2rem;
    grid-template-columns: 15rem 15rem;
    justify-items: center;
    justify-content: center;
  }

  img {
    object-fit: scale-down;
    max-width: 27rem;
    max-height: 20rem;
  }
}
