.error {
  background-color: rgba(184, 73, 73);
  margin-top: 5rem;
  padding: 3rem;
  color: white;
  display: inline-block;
}

.refetch {
  display: inline-block;
  box-sizing: border-box;
  padding: 0.5rem;
  margin-left: 2rem;
  cursor: pointer;
  border: 1px solid white;
  text-align: center;
}
